.brand-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
}

.brand-swiper {
  height: 100%; /* Garante que o swiper respeite a altura do pai */
  min-height: 120px; /* Evita que ele fique muito pequeno */
}

.brand-swiper .swiper {
  width: 100%;
  height: 100%; /* Garante que o swiper preencha a altura do container */
}

.brand-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Garante que os slides respeitem a altura do Swiper */
}

.brand-swiper .swiper-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Ajuste para que não limite o tamanho */
  height: auto;
  padding: 10px; /* Garante espaçamento interno */
}

.brand-swiper .swiper-slide img {
  max-width: 100%; /* Impede que a imagem ultrapasse os limites */
  max-height: 100%;
  object-fit: contain; /* Evita cortes */
}

@media (min-width: 768px) {
  .brand-swiper .brand-swiper {
    min-height: 180px; /* Ajuste de altura para telas maiores */
  }
}