.swiper-button-prev,
.swiper-button-next {
  color: #D73D53 !important;
}

.swiper-pagination-bullet-active {
  background: #D73D53;
}

.swiper-container {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

/*  */
.brand-swiper .swiper-wrapper {
  height: 100px;
}

.swiper-slide {
  width: auto;
  height: auto;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .brand-swiper .swiper-wrapper {
    height: 180px;
  }
}